In [94]:
#pip install pandas_profiling

In [95]:
# Import neccesary libraries and ,odules
import ydata_profiling as pp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [96]:
# Load the dataset
df = pd.read_csv('climate-risk-index-1.csv', index_col=None)
df.head(10)

,index,cartodb_id,the_geom,the_geom_webmercator,country,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total,rw_country_code,rw_country_name
0,0,1,NaN,NaN,Saudi Arabia,79,72.50,18,0.45,18,140,131,0.0001,119,1.229,SAU,Saudi Arabia
1,1,2,NaN,NaN,Romania,61,61.50,112,0.01,102,1,16,0.6746,11,2797.884,ROU,Romania
2,2,3,NaN,NaN,Spain,69,66.33,74,0.05,47,22,86,0.0394,31,637.070,ESP,Spain
3,3,4,NaN,NaN,Slovenia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SVN,Slovenia
4,4,5,NaN,NaN,South Sudan,133,117.33,114,0.00,114,0,120,0.0021,122,0.508,SSD,South Sudan
5,5,6,NaN,NaN,Sierra Leone,102,88.50,42,0.16,68,10,124,0.0011,131,0.114,SLE,Sierra Leone
6,6,7,NaN,NaN,South Africa,33,45.67,84,0.03,51,19,24,0.4722,7,3427.958,ZAF,South Africa
7,7,8,NaN,NaN,Serbia,83,75.50,114,0.00,114,0,33,0.2794,45,272.927,SRB,Republic of Serbia
8,8,9,NaN,NaN,Slovak Republic,123,105.33,97,0.02,102,1,115,0.0046,106,7.468,SVK,Slovakia
9,9,10,NaN,NaN,Solomon Islands,89,76.83,39,0.17,102,1,80,0.0445,121,0.511,SLB,Solomon Islands

This dataset contains information about the Global Climate Risk Index and associated economic data for countries around the world

- the_geom: Geometry of the country (Geometry)
- the_geom: Geometry of the country (Geometry)
- the_geom_webmercator: Web Mercator projection of the geometry of the country (Geometry)
- cri_rank: Rank of the country on the Climate Risk Index (Integer)
- cri_score: Score of the country on the Climate Risk Index (Integer)
- fatalities_per_100k_rank: Rank of the country in terms of fatalities per 100,000 people (Integer)
- fatalities_per_100k_total: Total number fatalities per 100,000 people (Integer)
- fatalities_rank: Rank of the country in terms of total fatalities (Integer)
- fatalities_total: Total number of fatalities (Integer)
- losses_per_gdp__rank: Rank of the country in terms of losses per GDP (Integer)
- losses_per_gdp__total: Total losses per GDP (Integer)
- losses_usdm_ppp_rank: Rank of the country in terms of losses in USDM PPP (Integer)
- losses_usdm_ppp_total: Total losses in USDM PPP (Integer)
- rw_country_code: Country code (String)
- rw_country_name: Country name (String)

### Accessing the dataset

In [97]:
df.info()
print('\n There are ' + str(df.shape[0]) + ' rows and ' + str(df.shape[1]) + ' columns in the dataset')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   index                      182 non-null    int64
 1   cartodb_id                 182 non-null    int64
 2   the_geom                   0 non-null      float64
 3   the_geom_webmercator       0 non-null      float64
 4   country                    182 non-null    object
 5   cri_rank                   182 non-null    int64
 6   cri_score                  182 non-null    float64
 7   fatalities_per_100k_rank   182 non-null    int64
 8   fatalities_per_100k_total  182 non-null    float64
 9   fatalities_rank            182 non-null    int64
 10  fatalities_total           182 non-null    int64
 11  losses_per_gdp__rank       182 non-null    int64
 12  losses_per_gdp__total      131 non-null    float64
 13  losses_usdm_ppp_rank       182 non-null    int64
 14  losses_usdm_ppp_total      182 non-null    float64
 15  rw_country_code            179 non-null    object
 16  rw_country_name            179 non-null    object
dtypes: float64(6), int64(8), object(3)
memory usage: 24.3+ KB

 There are 182 rows and 17 columns in the dataset

In [98]:
df.describe()

,index,cartodb_id,the_geom,the_geom_webmercator,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total
count,182.000000,182.000000,0.0,0.0,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,131.000000,182.000000,182.000000
mean,90.500000,91.500000,NaN,NaN,85.230769,81.791923,78.609890,0.519670,77.626374,86.840659,85.302198,1.517654,85.302198,907.507599
std,52.683014,52.683014,NaN,NaN,44.708529,34.582412,37.858511,3.393934,37.500688,427.350623,44.691600,8.171267,44.691600,4483.998505
min,0.000000,1.000000,NaN,NaN,1.000000,12.170000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000100,1.000000,0.000000
25%,45.250000,46.250000,NaN,NaN,46.250000,52.872500,46.250000,0.000000,46.250000,0.000000,46.250000,0.016500,46.250000,0.000000
50%,90.500000,91.500000,NaN,NaN,91.000000,77.500000,91.500000,0.020000,90.000000,2.000000,91.500000,0.084100,91.500000,30.347000
75%,135.750000,136.750000,NaN,NaN,135.000000,124.500000,114.000000,0.120000,114.000000,22.750000,135.000000,0.275950,135.000000,262.178250
max,181.000000,182.000000,NaN,NaN,135.000000,124.500000,114.000000,43.660000,114.000000,4317.000000,135.000000,77.369400,135.000000,40077.222000

In [99]:
# Check rows that have at least one null value (excluding the two geometry columns)
df_no_geom = df.drop(['the_geom', 'the_geom_webmercator'], axis=1)
df_no_geom[df_no_geom.isna().any(axis=1)]

,index,cartodb_id,country,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total,rw_country_code,rw_country_name
3,3,4,Slovenia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SVN,Slovenia
13,13,14,Tunisia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TUN,Tunisia
20,20,21,Venezuela,135,124.50,114,0.00,114,0,135,NaN,135,0.000,VEN,Venezuela
23,23,24,United Arab Emirates,127,109.17,86,0.03,85,3,133,NaN,132,0.087,ARE,United Arab Emirates
34,34,35,Mauritania,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MRT,Mauritania
36,36,37,Singapore,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SGP,Singapore
37,37,38,Suriname,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SUR,Suriname
38,38,39,Azerbaijan,135,124.50,114,0.00,114,0,135,NaN,135,0.000,AZE,Azerbaijan
42,42,43,Guyana,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GUY,Guyana
52,52,53,Antigua and Barbuda,135,124.50,114,0.00,114,0,135,NaN,135,0.000,ATG,Antigua and Barbuda
57,57,58,Bahrain,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BHR,Bahrain
58,58,59,Belarus,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BLR,Belarus
59,59,60,Barbados,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BRB,Barbados
61,61,62,Benin,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BEN,Benin
64,64,65,Central African Republic,135,124.50,114,0.00,114,0,135,NaN,135,0.000,CAF,Central African Republic
70,70,71,Chad,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TCD,Chad
77,77,78,Finland,135,124.50,114,0.00,114,0,135,NaN,135,0.000,FIN,Finland
78,78,79,Estonia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,EST,Estonia
80,80,81,Gabon,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GAB,Gabon
83,83,84,Eritrea,135,124.50,114,0.00,114,0,135,NaN,135,0.000,ERI,Eritrea
92,92,93,Republic of Korea,135,124.50,114,0.00,114,0,135,NaN,135,0.000,KOR,South Korea
97,97,98,Latvia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LVA,Latvia
98,98,99,Lithuania,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LTU,Lithuania
100,100,101,Libya,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LBY,Libya
102,102,103,Malaysia,132,117.00,111,0.01,90,2,132,NaN,126,0.276,MYS,Malaysia
104,104,105,Malta,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MLT,Malta
108,108,109,Morocco,134,121.50,113,0.00,102,1,134,NaN,133,0.027,MAR,Morocco
125,125,126,Uzbekistan,135,124.50,114,0.00,114,0,135,NaN,135,0.000,UZB,Uzbekistan
131,131,132,Belize,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BLZ,Belize
133,133,134,Brunei Darussalam,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BRN,Brunei
135,135,136,Comoros,135,124.50,114,0.00,114,0,135,NaN,135,0.000,COM,Comoros
136,136,137,Cyprus,135,124.50,114,0.00,114,0,135,NaN,135,0.000,CYP,Cyprus
138,138,139,Saint Vincent and the Grenadines,135,124.50,114,0.00,114,0,135,NaN,135,0.000,VCT,Saint Vincent and the Grenadines
139,139,140,Taiwan,51,56.17,75,0.05,65,11,53,0.1338,16,1472.523,NaN,NaN
141,141,142,St. Lucia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LCA,Saint Lucia
144,144,145,Djibouti,135,124.50,114,0.00,114,0,135,NaN,135,0.000,DJI,Djibouti
145,145,146,Jamaica,135,124.50,114,0.00,114,0,135,NaN,135,0.000,JAM,Jamaica
146,146,147,Democratic Republic of Timor-Leste,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TLS,Timor-Leste
147,147,148,Luxembourg,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LUX,Luxembourg
149,149,150,St. Kitts and Nevis,135,124.50,114,0.00,114,0,135,NaN,135,0.000,KNA,Saint Kitts and Nevis
152,152,153,Grenada,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GRD,Grenada
158,158,159,Kuwait,135,124.50,114,0.00,114,0,135,NaN,135,0.000,KWT,Kuwait
160,160,161,Kosovo,135,124.50,114,0.00,114,0,135,NaN,135,0.000,NaN,NaN
161,161,162,Mauritius,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MUS,Mauritius
169,169,170,Lesotho,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LSO,Lesotho
171,171,172,Marshall Islands,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MHL,Marshall Islands
172,172,173,Montenegro,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MNE,Montenegro
175,175,176,Puerto Rico,110,97.00,114,0.00,114,0,81,0.0437,78,57.565,NaN,NaN
176,176,177,Samoa,135,124.50,114,0.00,114,0,135,NaN,135,0.000,WSM,Samoa
177,177,178,Seychelles,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SYC,Seychelles
178,178,179,Gambia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GMB,Gambia
180,180,181,Trinidad and Tobago,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TTO,Trinidad and Tobago
181,181,182,Tonga,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TON,Tonga

In [100]:
# Check countries without country code and name
df_no_geom[df_no_geom.rw_country_name.isna()==True]

,index,cartodb_id,country,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total,rw_country_code,rw_country_name
139,139,140,Taiwan,51,56.17,75,0.05,65,11,53,0.1338,16,1472.523,NaN,NaN
160,160,161,Kosovo,135,124.50,114,0.00,114,0,135,NaN,135,0.000,NaN,NaN
175,175,176,Puerto Rico,110,97.00,114,0.00,114,0,81,0.0437,78,57.565,NaN,NaN

In [101]:
df[df.losses_per_gdp__total.isna()==True]

,index,cartodb_id,the_geom,the_geom_webmercator,country,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total,rw_country_code,rw_country_name
3,3,4,NaN,NaN,Slovenia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SVN,Slovenia
13,13,14,NaN,NaN,Tunisia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TUN,Tunisia
20,20,21,NaN,NaN,Venezuela,135,124.50,114,0.00,114,0,135,NaN,135,0.000,VEN,Venezuela
23,23,24,NaN,NaN,United Arab Emirates,127,109.17,86,0.03,85,3,133,NaN,132,0.087,ARE,United Arab Emirates
34,34,35,NaN,NaN,Mauritania,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MRT,Mauritania
36,36,37,NaN,NaN,Singapore,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SGP,Singapore
37,37,38,NaN,NaN,Suriname,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SUR,Suriname
38,38,39,NaN,NaN,Azerbaijan,135,124.50,114,0.00,114,0,135,NaN,135,0.000,AZE,Azerbaijan
42,42,43,NaN,NaN,Guyana,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GUY,Guyana
52,52,53,NaN,NaN,Antigua and Barbuda,135,124.50,114,0.00,114,0,135,NaN,135,0.000,ATG,Antigua and Barbuda
57,57,58,NaN,NaN,Bahrain,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BHR,Bahrain
58,58,59,NaN,NaN,Belarus,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BLR,Belarus
59,59,60,NaN,NaN,Barbados,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BRB,Barbados
61,61,62,NaN,NaN,Benin,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BEN,Benin
64,64,65,NaN,NaN,Central African Republic,135,124.50,114,0.00,114,0,135,NaN,135,0.000,CAF,Central African Republic
70,70,71,NaN,NaN,Chad,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TCD,Chad
77,77,78,NaN,NaN,Finland,135,124.50,114,0.00,114,0,135,NaN,135,0.000,FIN,Finland
78,78,79,NaN,NaN,Estonia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,EST,Estonia
80,80,81,NaN,NaN,Gabon,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GAB,Gabon
83,83,84,NaN,NaN,Eritrea,135,124.50,114,0.00,114,0,135,NaN,135,0.000,ERI,Eritrea
92,92,93,NaN,NaN,Republic of Korea,135,124.50,114,0.00,114,0,135,NaN,135,0.000,KOR,South Korea
97,97,98,NaN,NaN,Latvia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LVA,Latvia
98,98,99,NaN,NaN,Lithuania,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LTU,Lithuania
100,100,101,NaN,NaN,Libya,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LBY,Libya
102,102,103,NaN,NaN,Malaysia,132,117.00,111,0.01,90,2,132,NaN,126,0.276,MYS,Malaysia
104,104,105,NaN,NaN,Malta,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MLT,Malta
108,108,109,NaN,NaN,Morocco,134,121.50,113,0.00,102,1,134,NaN,133,0.027,MAR,Morocco
125,125,126,NaN,NaN,Uzbekistan,135,124.50,114,0.00,114,0,135,NaN,135,0.000,UZB,Uzbekistan
131,131,132,NaN,NaN,Belize,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BLZ,Belize
133,133,134,NaN,NaN,Brunei Darussalam,135,124.50,114,0.00,114,0,135,NaN,135,0.000,BRN,Brunei
135,135,136,NaN,NaN,Comoros,135,124.50,114,0.00,114,0,135,NaN,135,0.000,COM,Comoros
136,136,137,NaN,NaN,Cyprus,135,124.50,114,0.00,114,0,135,NaN,135,0.000,CYP,Cyprus
138,138,139,NaN,NaN,Saint Vincent and the Grenadines,135,124.50,114,0.00,114,0,135,NaN,135,0.000,VCT,Saint Vincent and the Grenadines
141,141,142,NaN,NaN,St. Lucia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LCA,Saint Lucia
144,144,145,NaN,NaN,Djibouti,135,124.50,114,0.00,114,0,135,NaN,135,0.000,DJI,Djibouti
145,145,146,NaN,NaN,Jamaica,135,124.50,114,0.00,114,0,135,NaN,135,0.000,JAM,Jamaica
146,146,147,NaN,NaN,Democratic Republic of Timor-Leste,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TLS,Timor-Leste
147,147,148,NaN,NaN,Luxembourg,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LUX,Luxembourg
149,149,150,NaN,NaN,St. Kitts and Nevis,135,124.50,114,0.00,114,0,135,NaN,135,0.000,KNA,Saint Kitts and Nevis
152,152,153,NaN,NaN,Grenada,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GRD,Grenada
158,158,159,NaN,NaN,Kuwait,135,124.50,114,0.00,114,0,135,NaN,135,0.000,KWT,Kuwait
160,160,161,NaN,NaN,Kosovo,135,124.50,114,0.00,114,0,135,NaN,135,0.000,NaN,NaN
161,161,162,NaN,NaN,Mauritius,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MUS,Mauritius
169,169,170,NaN,NaN,Lesotho,135,124.50,114,0.00,114,0,135,NaN,135,0.000,LSO,Lesotho
171,171,172,NaN,NaN,Marshall Islands,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MHL,Marshall Islands
172,172,173,NaN,NaN,Montenegro,135,124.50,114,0.00,114,0,135,NaN,135,0.000,MNE,Montenegro
176,176,177,NaN,NaN,Samoa,135,124.50,114,0.00,114,0,135,NaN,135,0.000,WSM,Samoa
177,177,178,NaN,NaN,Seychelles,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SYC,Seychelles
178,178,179,NaN,NaN,Gambia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,GMB,Gambia
180,180,181,NaN,NaN,Trinidad and Tobago,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TTO,Trinidad and Tobago
181,181,182,NaN,NaN,Tonga,135,124.50,114,0.00,114,0,135,NaN,135,0.000,TON,Tonga

In [102]:
df.duplicated().sum()

0

In [103]:
df.country.duplicated().sum()

0

### Issues

1. A quick look at the dataset shows that the first column, index, is redundant as we already have an index for the dataset.
2. **the_geom** and **the_geom_webmercator** columns both have no enteries.
3. 3 Enteries do not have Country code and Country Name
4. There are null values for some countries' losses per GDP total

### Data Cleaning

In [115]:
df_copy = df.copy()
df.head()

,index,cartodb_id,the_geom,the_geom_webmercator,country,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total,rw_country_code,rw_country_name
0,0,1,NaN,NaN,Saudi Arabia,79,72.50,18,0.45,18,140,131,0.0001,119,1.229,SAU,Saudi Arabia
1,1,2,NaN,NaN,Romania,61,61.50,112,0.01,102,1,16,0.6746,11,2797.884,ROU,Romania
2,2,3,NaN,NaN,Spain,69,66.33,74,0.05,47,22,86,0.0394,31,637.070,ESP,Spain
3,3,4,NaN,NaN,Slovenia,135,124.50,114,0.00,114,0,135,NaN,135,0.000,SVN,Slovenia
4,4,5,NaN,NaN,South Sudan,133,117.33,114,0.00,114,0,120,0.0021,122,0.508,SSD,South Sudan

In [116]:
# To remove the empty columns and index column
df_copy.drop(columns = ['index', 'the_geom_webmercator', 'the_geom'], inplace=True)
df_copy.columns

Index(['cartodb_id', 'country', 'cri_rank', 'cri_score',
       'fatalities_per_100k_rank', 'fatalities_per_100k_total',
       'fatalities_rank', 'fatalities_total', 'losses_per_gdp__rank',
       'losses_per_gdp__total', 'losses_usdm_ppp_rank',
       'losses_usdm_ppp_total', 'rw_country_code', 'rw_country_name'],
      dtype='object')

In [117]:
# For the countries not having their name and code, somethings can be done.
# Taiwan is not really a country, Puerto Rico cannot be called a country, but
# Kosovo can be regarded to as a country in this regard.

In [118]:
# The null values for losses_per_gdp__total should be replaced with zero
df_copy['losses_per_gdp__total'] = df_copy['losses_per_gdp__total'].fillna(0, inplace=True)
df_copy[df_copy.losses_per_gdp__total.isna()==True]

,cartodb_id,country,cri_rank,cri_score,fatalities_per_100k_rank,fatalities_per_100k_total,fatalities_rank,fatalities_total,losses_per_gdp__rank,losses_per_gdp__total,losses_usdm_ppp_rank,losses_usdm_ppp_total,rw_country_code,rw_country_name
0,1,Saudi Arabia,79,72.50,18,0.45,18,140,131,None,119,1.229,SAU,Saudi Arabia
1,2,Romania,61,61.50,112,0.01,102,1,16,None,11,2797.884,ROU,Romania
2,3,Spain,69,66.33,74,0.05,47,22,86,None,31,637.070,ESP,Spain
3,4,Slovenia,135,124.50,114,0.00,114,0,135,None,135,0.000,SVN,Slovenia
4,5,South Sudan,133,117.33,114,0.00,114,0,120,None,122,0.508,SSD,South Sudan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,178,Seychelles,135,124.50,114,0.00,114,0,135,None,135,0.000,SYC,Seychelles
178,179,Gambia,135,124.50,114,0.00,114,0,135,None,135,0.000,GMB,Gambia
179,180,Togo,131,114.33,104,0.01,102,1,123,None,130,0.130,TGO,Togo
180,181,Trinidad and Tobago,135,124.50,114,0.00,114,0,135,None,135,0.000,TTO,Trinidad and Tobago
181,182,Tonga,135,124.50,114,0.00,114,0,135,None,135,0.000,TON,Tonga

profile = pp.ProfileReport(df) 

profile.to_file("output.html")